body {
    color: #566787;
    background: #f5f5f5;
    font-family: 'Varela Round', sans-serif;
    font-size: 18px; /* Increased font size */
}
.table-responsive {
    margin: 80px 0;
}
.table-wrapper {
    min-width: 800px; /* Increased min-width */
    background: #fff;
    padding: 30px 25px; /* Increased padding */
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.table-wrapper .btn {
    float: right;
    color: #333;
    background-color: #fff;
    border-radius: 3px;
    border: none;
    outline: none !important;
    margin-left: 10px;
}
.table-wrapper .btn:hover {
    color: #333;
    background: #f2f2f2;
}
.table-wrapper .btn.btn-primary {
    color: #fff;
    background: #03A9F4;
}
.table-wrapper .btn.btn-primary:hover {
    background: #03a3e7;
}
.table-title .btn {
    font-size: 15px; /* Increased font size */
    border: none;
}
.table-title .btn i {
    float: left;
    font-size: 23px; /* Increased font size */
    margin-right: 5px;
}
.table-title .btn span {
    float: left;
    margin-top: 2px;
}
.table-title {
    color: #fff;
    background: #4b5366;
    padding: 20px 35px; 
    margin: -30px -35px 10px;
    border-radius: 3px 3px 0 0;
}
.table-title h2 {
    margin: 5px 0 0;
    font-size: 32px; /* Increased font size */
}
.show-entries select.form-control {        
    width: 100px; /* Increased width */
    margin: 0 5px;
}
.table-filter .filter-group {
    float: right;
    margin-left: 15px;
}
.table-filter input, .table-filter select {
    height: 45px; /* Increased height */
    border-radius: 3px;
    border-color: #ddd;
    box-shadow: none;
    font-size: 18px; /* Increased font size */
}
.table-filter {
    padding: 15px 0 20px; /* Increased padding */
    border-bottom: 1px solid #e9e9e9;
    margin-bottom: 5px;
}
.table-filter .btn {
    height: 45px; /* Increased height */
    font-size: 18px; /* Increased font size */
}
.table-filter label {
    font-weight: normal;
    margin-left: 10px;
}
.table-filter select, .table-filter input {
    display: inline-block;
    margin-left: 5px;
}
.table-filter input {
    width: 300px; /* Increased width */
    display: inline-block;
}
.filter-group select.form-control {
    width: 150px; /* Increased width */
}
.filter-icon {
    float: right;
    margin-top: 7px;
}
.filter-icon i {
    font-size: 20px; /* Increased font size */
    opacity: 0.7;
}
table.table tr th, table.table tr td {
    border-color: #e9e9e9;
    padding: 20px 25px; /* Increased padding */
    vertical-align: middle;
    font-size: 18px; /* Increased font size */
}
table.table tr th:first-child {
    width: 100px; /* Increased width */
}
table.table tr th:last-child {
    width: 120px; /* Increased width */
}
table.table-striped tbody tr:nth-of-type(odd) {
    background-color: #fcfcfc;
}
table.table-striped.table-hover tbody tr:hover {
    background: #f5f5f5;
}
table.table th i {
    font-size: 18px; /* Increased font size */
    margin: 0 5px;
    cursor: pointer;
}
table.table td a {
    font-weight: bold;
    color: #566787;
    display: inline-block;
    text-decoration: none;
    font-size: 18px; /* Increased font size */
}
table.table td a:hover {
    color: #2196F3;
}
table.table td a.view {        
    width: 45px; /* Increased width */
    height: 45px; /* Increased height */
    color: #2196F3;
    border: 2px solid;
    border-radius: 45px; /* Increased border-radius */
    text-align: center;
}
table.table td a.view i {
    font-size: 26px; /* Increased font size */
    margin: 2px 0 0 1px;
}   
table.table .avatar {
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;
}
.status {
    font-size: 32px; /* Increased font size */
    margin: 2px 2px 0 0;
    display: inline-block;
    vertical-align: middle;
    line-height: 10px;
}
.text-success {
    color: #10c469;
}
.text-info {
    color: #62c9e8;
}
.text-warning {
    color: #FFC107;
}
.text-danger {
    color: #ff5b5b;
}
.pagination {
    float: right;
    margin: 0 0 5px;
}
.pagination li a {
    border: none;
    font-size: 18px; /* Increased font size */
    min-width: 45px; /* Increased width */
    min-height: 45px; /* Increased height */
    color: #999;
    margin: 0 2px;
    line-height: 45px; /* Increased line-height */
    border-radius: 2px !important;
    text-align: center;
    padding: 0 10px;
}
.pagination li a:hover {
    color: #666;
}    
.pagination li.active a {
    background: #03A9F4;
}
.pagination li.active a:hover {        
    background: #0397d6;
}
.pagination li.disabled i {
    color: #ccc;
}
.pagination li i {
    font-size: 22px; /* Increased font size */
    padding-top: 10px; /* Increased padding-top */
}
.hint-text {
    float: left;
    margin-top: 10px;
    font-size: 18px; /* Increased font size */
}