.navbar {
  width: 100%;
  height: 80px;
  background-color: rgb(19, 19, 19);
  display: flex;
  justify-content: space-between; /* Ensure space between the elements */
  align-items: center;
  padding: 0 50px; /* Add padding to the left and right */
}

.shop-link {
  text-decoration: none;
  font-size: 25px;
  color: white;
}

.links {
  display: flex;
  align-items: center;
  margin-left: 50%; /* Pushes the .links container to the right */
}

.links a {
  text-decoration: none;
  color: white;
  margin-left: 40px;
  font-size: 25px;
}

.dropdown {
  margin-left: 50px;
}
